.col{
    background:rgba(51,51,51,1);
    text-align: center;
    border:1px solid rgba(255,255,255,0.36);
    color:rgba(255,255,255,0.6);
}
.block{
    background:rgba(255,0,0,0.36);
    overflow:hidden;
    min-height: 64px;
}
.col .col{
    background: none;
}
.block .block {
    background:rgba(0,255,0,0.6);
}
.block .block .block {
    background:rgba(0,0,255,0.6);
}