/* Webfonts
===========================
*/
@import url(http://fonts.googleapis.com/css?family=Oswald:300,400,700|Roboto+Condensed:400,700,400italic,300italic,300);

/* Html, body
===========================
*/
html, body{
    margin:0;
    padding:0;
    height:100%;
}
html{
    font-size:10px;
    font-family:'Roboto Condensed', sans-serif;
    line-height:1.42;
}

/* Headings
===========================
*/
h1,h2,h3,h4,h5,h6{
    font-family: 'Oswald', sans-serif;
}
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2.6rem;
}
h3 {
    font-size: 2.2rem;
}
h4 {
    font-size: 1.8rem;
}
h5 {
    font-size: 1.4rem;
}
h6 {
    font-size: 1.0rem;
}

/* Fullscreen + centered
==========================
*/
.fullscreen {
    width:100%;
    min-height:100%;
}
.tcontainer{
    display:table;
    height:100%;
    overflow:hidden;
}
.theader, .tmain, .tfooter {
    display:table-row;
    width:100%;
}
.theader, .tfooter {
    height:1px;
}
.tmain{
    height:100%;
}
.tcentered {
    display:table-cell;
    position:relative;
    vertical-align:middle;
    text-align:center;
}
.background{
    background-position:center bottom;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}
#home header>h1{
    font-size:4.2rem;
    color:#f1f1f1;
    text-shadow:0 0 4px hsla(0,0%,0%,1);
}
#home p.baseline{
    font-size:1.6rem;
    color:#f1f1f1;
    text-shadow:0 0 4px hsla(0,0%,0%,1);
}
@media (min-width: 640px) {
    html {
        font-size:11px;
    }
}
@media (min-width: 800px) {
    html {
        font-size:12px;
    }
}
@media (min-width: 1024px) {
    html {
        font-size:13px;
    }
}
@media (min-width: 1140px) {
    html {
        font-size:14px;
    }
}
@media (min-width: 1280px) {
    html {
        font-size:15px;
    }
}

/* Page
==========================
*/
.page {
    padding:50px 0;
}
.page blockquote{
    background:rgba(255,255,255,0.26);
}
#about {
    background:rgba(255,64,129,1);
    color:#fff;
}
#blog {
    background:rgba(0,150,136,1);
    color:#fff;
}
#portfolio{
    background:rgba(232,232,232,1);
    color:rgba(33,33,33,1);
}
#contact{
    background:rgba(33,33,33,1);
    color:#fff;
}

/* Navigation Bar
===========================
*/
.navbar-default {
    background:none;
    border-color:transparent;
    height:120px;
    transition:all 360ms ease-in-out 0s;
}
.navbar-default .navbar-brand {
    color:hsla(0,0%,100%,1);
    padding:35px 15px;
    height:100%;
    transition:all 360ms ease-in-out 0s;
}
.navbar-default .navbar-toggle {
    color:hsla(0,0%,100%,1);
    margin:30px 15px;
    height:100%;
    transition:all 360ms ease-in-out 0s;
}
.navbar-default .navbar-brand img {
    vertical-align: middle;
    margin:auto;
}
.navbar-default .navbar-nav {
    margin-top:0;
}
.navbar-default .navbar-nav > li > a {
    background:rgba(0,150,136,1);
    color:hsla(0,0%,100%,1);
    font-weight:bold;
    text-transform: uppercase;
    border-bottom:1px solid rgba(255,255,255,0.22);
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover{
    color:hsla(0,0%,0%,1);
    background:rgba(255,255,255,1);
}
.navbar-default.navbar-contentscrolled{
    background:rgba(33,33,33,1);
    height:50px;
    transition:all 360ms ease-in-out 0s;
}
.navbar-default.navbar-contentscrolled .navbar-toggle{
    margin:8px 15px;
    transition:all 360ms ease-in-out 0s;
}
.navbar-default.navbar-contentscrolled .navbar-brand{
    padding:15px;
    transition:all 360ms ease-in-out 0s;
}

@media (min-width: 764px) {
    .navbar-default .navbar-nav > li > a {
        padding:31px 15px 35px;
        border-top:4px solid hsla(0,0%,100%,0);
        border-bottom:none;
        outline:0;
        transition:all 660ms ease-in-out 0s;
        background:transparent;
    }
    .navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > .active > a:focus,
    .navbar-default .navbar-nav > .active > a:hover {
        background-color:transparent;
        border-top-color:hsla(0,0%,100%,1);
        color:hsla(0,0%,100%,1);
        font-weight:bold;
    }
    .navbar-default .navbar-nav > li > a:focus,
    .navbar-default .navbar-nav > li > a:hover {
        background-color:transparent;
        border-top-color:hsla(0,0%,100%,1);
        color:hsla(0,0%,100%,1);
        font-weight:bold;
        transition:all 660ms ease-in-out 0s;
    }
    .navbar-default.navbar-contentscrolled .navbar-nav > li > a{
        padding:11px 15px 15px;
        transition:all 660ms ease-in-out 0s;
    }
}

/* Ghost Buttons
===========================
*/
.home-actions {
    margin-top: 15px;
}
.home-actions a{
    margin-right:10px;
}
.home-actions a:last-of-type{
    margin-right:0;
}
.btn-ghost {
    background:none;
    border-color:hsla(0,0%,100%,1);
    color:hsla(0,0%,100%,1);
    text-transform: uppercase;
    font-size:1.4rem;
    padding:15px 30px;
    transition: all 246ms ease-in 0s;
}
.btn-primary.btn-ghost:hover {
    background-color:rgba(0,150,136,0.56);
    color:hsla(0,0%,100%,1);
    transition: all 246ms ease-out 0s;
    border-color:hsla(0,0%,100%,1);
}
.btn-default.btn-ghost:hover {
    background-color: rgba(255, 64, 129, 0.56);
    color: hsla(0, 0%, 100%, 1);
    transition: all 246ms ease-out 0s;
    border-color: hsla(0, 0%, 100%, 1);
}

/* Footer
===========================
*/
#home footer{
    text-align: center;
}

/* Go Down
===========================
*/
.godown {
    position: relative;
    display:block;
    width:42px;
    height:42px;
    text-align: center;
    line-height:42px;
    background:none;
    border:1px solid hsla(0,0%,100%,1);
    color:hsla(0,0%,100%,1);
    border-radius: 50%;
    margin: 0 auto 15px;
    font-size:1.6em;
    font-weight: 400;
    text-align: center;
}
.godown span{
    position:relative;
    top:-1px;
}
.godown:hover,
.godown:active,
.godown:focus{
    background-color: rgba(33, 33, 33, 0.56);
    text-decoration: none;
    color:hsla(0,0%,100%,1);
    outline: none;
}
/* Go To Top
===========================
*/
.gototop {
    z-index:999;
    position: fixed;
    display:block;
    width:42px;
    height:42px;
    right:15px;
    bottom:15px;
    text-align: center;
    line-height:42px;
    background:none;
    border:1px solid hsla(0,0%,80%,1);
    color:hsla(0,0%,80%,1);
    border-radius: 50%;
    font-size:1.6em;
    font-weight: 400;
    text-align: center;
    display:none;
}
.gototop span{
    position:relative;
    top:-3px;
}
.gototop:hover,
.gototop:active,
.gototop:focus{
    background-color: rgba(33, 33, 33, 0.56);
    text-decoration: none;
    color:hsla(0,0%,100%,1);
    outline: none;
}
