/* Global styles
 ================================================
*/
body{
    background:#fcfcfc;
    color:#B6B6B6;
}

/* Helpers
 ================================================
*/
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1; /* ie 6/7 */
}

/* Wrappers
 ================================================
*/
#header-wrapper{
    background:rgba(35,45,51,1);
}
#calltoaction-wrapper{
    background:#E4E4E4;
}
#main-wrapper{
    background:#F2F2F2;
}
#footer-wrapper{
    background:none;
}

/* Bootstrap: Navigation Bar
 ================================================
*/
.navbar {
    background:none;
    margin-bottom:0;
    border-radius: 0;
    border:none;
}
.navbar .navbar-brand{
    color:#FEFEFE;
    text-shadow: 0 0 1px rgba(0,0,0,0.5);
    padding:13px 15px;
    margin-right:52px;
}
.navbar .navbar-brand img{
    height:26px;
}
.navbar .navbar-nav{
    margin-top:0;
    margin-bottom:0;
}
.navbar .navbar-nav>li>a {
    color:rgba(125,143,151,1);
    text-shadow: 0 0 1px rgba(0,0,0,0.5);
    padding-bottom:11px;
    border-bottom:4px solid transparent;
}
.navbar .navbar-nav>li.active>a,
.navbar .navbar-nav>li.active:hover>a,
.navbar .navbar-nav>li:hover>a
{
    background:rgba(56,68,75,1);
    color:#fff;
    text-shadow: 0 0 1px rgba(0,0,0,0.86);
    border-bottom:4px solid #96A8B4;
}
.navbar .navbar-collapse{
    border:none;
}
.navbar .navbar-toggle{
    border-color:rgba(125,143,151,1);
    background-color:none;
}
.navbar .navbar-toggle .icon-bar{
    background-color:rgba(125,143,151,1);
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:active,
.navbar .navbar-toggle:focus{
    background-color:rgba(125,143,151,1);
}
.navbar .navbar-toggle:hover .icon-bar,
.navbar .navbar-toggle:active .icon-bar,
.navbar .navbar-toggle:focus .icon-bar
{
    background-color:#242D33;
}
/* Bootstrap: Buttons
 =========================================
*/
.btn-default{
    background:#4A7FA2;
    color:#fff;
    text-shadow: 0 0 1px rgba(0,0,0,0.86);
    border:none;
    border-bottom:4px solid #6D9CBC;
}
.btn-default:hover{
    background:#6D9CBC;
    color:#fff;
    border-bottom:4px solid #4A7FA2;
}
.btn-primary{
    background:#CC3C6B;
    color:#fff;
    text-shadow: 0 0 1px rgba(0,0,0,0.5);
    border:none;
    border-bottom:4px solid #D7688C;
}
.btn-primary:hover{
    background:#D7688C;
    color:#fff;
    border-bottom:4px solid #CC3C6B;
}
/* Footer
 =========================================
*/
#footer .row:last-of-type{
    margin-bottom:15px;
}
.footer-logo>img {
    height:20px;
}
.copyright p{
    margin-bottom:5px;
}
.container>.row:first-of-type{
    padding-top:15px;
}

/* Call to action
 =========================================
*/
#calltoaction-wrapper>.container>.row:last-of-type{
    margin-bottom:7px;
}
.calltoaction{
    text-align: center;
}
.calltoaction .action {
    margin-left:15px;
}
@media (max-width: 656px) {
    .calltoaction {
        text-align: center;
    }
    .calltoaction .actions {
        display:block;
        margin-top:15px;
    }
    .calltoaction .actions .action:first-of-type {
        margin-left:0;
    }
}
@media (max-width: 480px) {
    .calltoaction .actions .action {
        display:block;
        width:100%;
    }
    .calltoaction .actions .action:last-of-type {
        margin-top:15px;
        margin-left:0;
    }
}

/* Card
 ========================================
*/
.card-list {
    list-style: none;
    margin:0;
    padding:0;
}
.card {
    margin-bottom:30px;
}
.card-body {
    position:relative;
    background:rgba(255,255,255,1);
    padding:15px;
    box-shadow: 0 5px 0 0 #d8d8d8;
    margin-bottom:15px;
}
.card-body>.card-content {
    position:relative;
    overflow: hidden;
    height:205px;
    margin-bottom:15px;
}
.card-body>.card-content>picture {
    display:block;
    position:absolute;
    width:100%;
    height:100%;
    overflow:hidden;
    text-align:center;
    line-height:100%;
}
.card-body>.card-content>picture>img {
    display:block;
    min-width:100%;
    min-height:264px;
    position:absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
}
.card-body>.card-statistics {

}
.card-body>.card-statistics>ul {
    float:right;
    list-style: none;
    margin: 0;
    padding: 0;
}
.card-body>.card-statistics>ul>li {
    float:left;
    padding-right:30px;
    margin-right:15px;
}
.card-body>.card-statistics>ul>li:last-of-type {
    margin-right:0;
}
.card-body>.card-statistics>ul>li.views {
    background: url('images/_oog.svg') no-repeat top right;
    background-size: contain;
    padding-right: 45px;
}
.card-body>.card-statistics>ul>li.likes {
    padding-right:0;
}
.card-body>.card-statistics>ul>li.likes a {
    background:url('images/_hart.svg') no-repeat top right;
    padding-right:30px;
    background-size: contain;
    height:20px;
    display:block;
    color:#B6B6B6;
}
.card-body>.card-statistics>ul>li.likes a:hover {
    background:url('images/_hart_hover.svg') no-repeat top right;
    text-decoration: none;
    color:#747474;
}
.card-author{
    font-weight:bold;
    color:#6D9CBC;
    float:left;
}
.card-author>img {
    width: 38px;
    border-radius: 50%;
    border: 5px solid #d8d8d8;
    margin: 0 5px 0 0;
}
.card-list-pagination{
    text-align: center;
    width:100%;
    margin-bottom:30px;
}
.card-list-pagination>.pagination-next{
    display:block;
    width:64px;
    height:64px;
    line-height:64px;
    background:#d8d8d8;
    border-radius: 50%;
    margin:0 auto;
    color:#fff;
    font-size:64px;
    text-align: center;
    text-decoration: none;
    background:#d8d8d8 url('images/_pijl.svg') no-repeat center center;
    background-size: 30%;
}
.card-list-pagination>a.pagination-next:hover,
.card-list-pagination>a.pagination-next:active{
    background-color:#747474;
    color:#d8d8d8;
    text-decoration: none;
}
