/* Global Styles */
*{
    box-sizing: border-box;
}
/* Main Navigation */
#navigation-main{
    position:absolute;
    width:300px;
    height:300px;
    top:50%;
    left:50%;
    margin-top:-150px;
    margin-left:-150px;
}
#navigation-main>ul{
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    list-style: none;
}
#navigation-main>ul>li{
    width:100%;
    height:33.33333%;
    border-bottom:1px solid rgba(33,33,33,0.68);
    background:rgba(0,170,204,0.86);
}
#navigation-main>ul>li:first-of-type{
    border-radius:24px 24px 0 0;
}
#navigation-main>ul>li:last-of-type{
    border-bottom-width:0;
    border-radius:0 0 24px 24px;
}
#navigation-main>ul>li>a{
    display:block;
    width:100%;
    height:100%;
    text-decoration: none;
    padding:36px 24px;
    text-align: left;
    font-size:1.6em;
    font-weight:800;
    color:rgba(33,33,33,1);
}
#navigation-main>ul>li:hover{
    background:rgba(187,204,0,0.86);
}
