.example{
    background:rgba(33,33,33,1);
    min-height:286px;
    overflow:hidden;
    position:relative;
    margin-bottom:48px;
}
.box{
    position:absolute;
    top:0;
    left:0;
    background:rgba(221,211,211,0.86);
    height:80px;
    width:25%;
    line-height:80px;
    text-align: center;
}
.example .box:nth-of-type(1){
    background:rgba(0,170,204,0.86);
}
.example .box:nth-of-type(2){
    background:rgba(204,0,119,0.86);
}
.example .box:nth-of-type(3){
    background:rgba(187,204,0,0.86);
}
.example .box:nth-of-type(4){
    background:rgba(238,153,0,0.86);
}
.example .box:nth-of-type(5){
    background:rgba(211,211,211,0.86);
}

/* EXAMPLE1: Transities */
#example1 .box:nth-of-type(1){
    transform-origin:left top;
    transition:all 2s ease 0s;
}
#example1:hover .box:nth-of-type(1){
    transform:rotate(360deg);
    transform-origin:left top;
}
#example1 .box:nth-of-type(2){
    transition:all 4s ease 0s;
}
#example1:hover .box:nth-of-type(2){
    transform:rotate(3600deg) scale(2,2) translate(100%, 100%);
}
#example1 .box:nth-of-type(3){
    transform:rotate(150deg);
    transform-origin:-100px -100px;
}
/* EXAMPLE2: Weird Menu */
#example2 .box{
    width:25%;
    height:25%;
    transition:all 3s ease-in 0s;
}
#example2 .box:nth-of-type(1){
    top:0;
    transition-delay:0s;
}
#example2 .box:nth-of-type(2){
    top:25%;
    transition-delay:1s;
}
#example2 .box:nth-of-type(3){
    top:50%;
    transition-delay:1.5s;
}
#example2 .box:nth-of-type(4){
    top:75%;
    transition-delay:2s;
}
#example2:hover .box{
    left:75%;
    transform:rotate(360deg);
}
/* EXAMPLE3: Follow eachother */
#example3 .box{
    width:10%;
    height:25%;
    transition-property:left, top;
    transition-timing-function:ease;
    transition-duration:2s,1s;
    transition-delay:0s,2s;
    top:0;
    left:0;
}
#example3 .box:nth-of-type(1){
    left:30%;
}
#example3 .box:nth-of-type(2){
    left:20%;
    transition-delay:0.2s,2.2s;
}
#example3 .box:nth-of-type(3){
    left:10%;
    transition-delay:0.4s,2.4s;
}
#example3 .box:nth-of-type(4){
    left:0%;
    transition-delay:0.6s,2.6s;
}
#example3:hover .box{
    left:90%;
    top:75%;
}
/* Example 4: Easing functions */
#example4 .box{
    width:10%;
    height:20%;
    transition-property:left;
    transition-timing-function:linear;
    transition-duration:2s;
    transition-delay:0s;
    top:0;
    left:0;
}
#example4 .box:nth-of-type(1){
    top:0;
    transition-timing-function:linear;
}
#example4 .box:nth-of-type(2){
    top:20%;
    transition-timing-function:ease;
}
#example4 .box:nth-of-type(3){
    top:40%;
    transition-delay:0.4s,2.4s;
    transition-timing-function:ease-in;
}
#example4 .box:nth-of-type(4){
    top:60%;
    transition-delay:0.6s,2.6s;
    transition-timing-function:ease-out;
}
#example4 .box:nth-of-type(5){
    top:80%;
    transition-delay:0.6s,2.6s;
    transition-timing-function:ease-in-out;
}
#example4:hover .box{
    left:90%;
}
/* Example 5: Navigation Off Canvas */
#example5 *{
    box-sizing: border-box;
}
#example5 #navigation-main{
    position:absolute;
    top:0;
    left:-100%;
    width:300px;
    height:100%;
    background:rgba(0,170,204,0.86);
    transition:left 800ms ease 0s;
}
#example5 #navigation-toggle{
    position:absolute;
    top:0;
    right:0;
    z-index:2;
    background:rgba(170,170,170,1);
    font-size:2em;
    font-weight:800;
    text-align:center;
    padding:6px 12px;
}
#example5 #navigation-toggle>i{
    transition:all 600ms ease 0s;
}
#example5 #navigation-toggle.open>i{
    transform:rotate(90deg);
}
#example5 #navigation-main ul{
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    list-style: none;
}
#example5 #navigation-main ul>li{
    height:20%;
    border-bottom:1px solid rgba(33,33,33,0.86);
}
#example5 #navigation-main ul>li>a{
    display:block;
    text-decoration: none;
    height:100%;
    width:100%;
    padding:18px 24px;
    color:rgba(33,33,33,1);
    font-weight:800;
}
#example5 #navigation-main ul>li:last-of-type{
    border-bottom-width:0;
}
#example5 #navigation-main ul>li>a:hover{
    background:rgba(187,204,0,0.86);
}
#example5 #navigation-main.open{
    left:0%;
    transition:left 800ms ease 0s;
}