.example{
    background:rgba(33,33,33,1);
    min-height:286px;
    overflow:hidden;
    position:relative;
    margin-bottom:48px;
}
.box{
    position:absolute;
    top:0;
    left:0;
    background:rgba(221,211,211,0.86);
    height:80px;
    width:25%;
    line-height:80px;
    text-align: center;
}
.example .box:nth-of-type(1){
    background:rgba(0,170,204,0.86);
}
.example .box:nth-of-type(2){
    background:rgba(204,0,119,0.86);
}
.example .box:nth-of-type(3){
    background:rgba(187,204,0,0.86);
}
.example .box:nth-of-type(4){
    background:rgba(238,153,0,0.86);
}
.example .box:nth-of-type(5){
    background:rgba(211,211,211,0.86);
}

/* EXAMPLE1: Translatie - verplaatsen van een element naar een nieuwe positie */
#example1 .box:nth-of-type(1){
    -webkit-transform:translate(220px, 160px);
    -moz-transform:translate(220px, 160px);
    -ms-transform:translate(220px, 160px);
    -o-transform:translate(220px, 160px);
    transform:translate(220px, 160px);
}
#example1 .box:nth-of-type(2){
    transform:translate(50%, 50%);
}
#example1 .box:nth-of-type(3){
    transform:translateY(-50px);
}

/* EXAMPLE2: Schalen*/
#example2 .box:nth-of-type(1){
    transform:scale(2.6,1);
}
#example2 .box:nth-of-type(2){
    transform:scale(1.3,2.8);
}
#example2 .box:nth-of-type(3){
    transform:scale(-1,1);
}

/* EXAMPLE3: Roteren*/
#example3 .box:nth-of-type(1){
    transform:rotate(36deg);
}
#example3 .box:nth-of-type(2){
    transform:rotate(-60deg);
}
#example3 .box:nth-of-type(3){
    transform:rotate(150deg);
}

/* EXAMPLE4: Schuintrekken*/
#example4 .box:nth-of-type(1){
    transform:skew(36deg, -60deg);
}
#example4 .box:nth-of-type(2){
    transform:skewX(60deg);
}
#example4 .box:nth-of-type(3){
    transform:skewY(150deg);
}

/* EXAMPLE5: Transformatiepunt verleggen + rotatie*/
#example5 .box:nth-of-type(1){
    transform:rotate(36deg);
    transform-origin:left top;
}
#example5 .box:nth-of-type(2){
    transform:rotate(-60deg);
    transform-origin:80% bottom;
}
#example5 .box:nth-of-type(3){
    transform:rotate(150deg);
    transform-origin:-100px -100px;
}